<div class="row">
  <div class="col-md-4">
    <h3>Guidelines for articles:</h3>
    <ul>
      <li>one</li>
    </ul>    
  </div>
  <div class="col-md-4">
  <h2>New Article</h2>
    <%= render partial: 'form', locals: { wiki: @wiki, article: @article } %>
  </div>
  <div class="col-md-4">
 
  </div>
</div>
