    <div class="form-inline">
      <label for"new_collaborator">Add Collaborator</label>
      <select id="new_collaborator" class="form-control">
      <% @users.each do |u| %>
      <option value="<%= u.id %>"> <%= u.name %></option>
      <% end %>
      </select>
      <%= link_to "Add", wiki_collaborator_index_path(wiki_id: @wiki.id, user_id: -1), method: :post, id: 'add_collab_btn' %>
    </div>

