<div class="row">
&nbsp;
</div>
<div class="col-lg-2 text-center">
  <button class="btn btn-lg btn-default">
  <%= link_to 'New Wiki', new_wiki_path(@wiki) %>
  </button>
  <br /><br />
</div>

<div class="col-lg-7">

  <ul class="list-group">
    <% @wikis.each do |wiki| %>
      <%= render partial: 'wiki', locals: { wiki: wiki } %>
    <% end %>
  </ul>
 <div class="text-center"><%= will_paginate @wikis %></div>
</div>
<div class="col-lg-3">

</div>

