<div class="row">
  <div class="col-md-4">
 
  </div>
  <div class="col-md-4">
  <h2>New Wiki</h2>
    <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>
  <div class="col-md-4">
 
  </div>
</div>
